* {  
    margin: 0;  
    padding: 0;  
}  
  
#div1 {  
    width: 520px;  
    margin: 30px auto;  
    border: 1px solid red;  
    overflow: hidden;  
}  
  
li {  
    width: 160px;  
    height: 160px;  
    float: left;  
    list-style: none;  
    margin: 5px;  
    background: url(loading.gif) center center no-repeat;  
    border: 1px dashed green;  
}  
